<!-- footer.ejs -->
<footer class="text-center mt-5 py-4" style="background-color: #e9ecef;"> <!-- Slightly darker shade -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Your trusted e-commerce platform for all your shopping needs!</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-dark">About Us</a></li>
          <li><a href="/contact" class="text-dark">Contact Us</a></li>
          <li><a href="/privacy" class="text-dark">Privacy Policy</a></li>
          <li><a href="/terms" class="text-dark">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-dark"><i class="fab fa-facebook-f"></i> Facebook</a><br>
        <a href="#" class="text-dark"><i class="fab fa-twitter"></i> Twitter</a><br>
        <a href="#" class="text-dark"><i class="fab fa-instagram"></i> Instagram</a><br>
      </div>
    </div>
    <hr>
    <p>&copy; 2024 Enyim E-Commerce Platform. All rights reserved.</p>
  </div>
</footer>

<!-- Bootstrap JS and Popper.js (for all pages) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Font Awesome for social media icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
